////COLORS//////

$color-primary: #7BC67B;
$color-secondary: #5E454B;
$color-tertiary: #daecdc;
$color-text-white: #ffffff;

/////SCREENS SIZES////

$tablet-size: 768px;
$mobile-l-size: 460px;
$mobile-m-size: 380px;

$fa-font-path: '../../public/webfonts';