@import '../Abstracts/variables';

.features-list-container {
  & h1 {
    font-size: $title-l;
    font-weight: 500;
    border-bottom: 2px solid $color-primary;
    padding-bottom: .5rem;
    align-items: flex-end;
    justify-content: space-between;
    display: flex;
  }
  & p {
    font-size: $paragraph;
    position: relative;
    align-self: center;
    justify-self: end;
  }
}
.features-list{
  list-style: none;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  & li {
    flex: 0 0 50%;
    padding: .5rem;
    font-size: $paragraph;
  }
}

.features-icons-container{
  margin-top: 2rem;
}

.features-icons-list{
  list-style: none;
  display: flex;
  margin-top: 1rem;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  
    & li {
      padding: 1rem 1.5rem;
      border: 2px solid $color-primary;
      align-self: center;
      border-radius: 1rem;
    }
}
@media (max-width:$tablet-size) {
  .features-list-container{
    & h1 {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
@media (max-width: $tablet-s-size){
  .features-list-container {
    & h1 {
      font-size: $title-m;
    }
  }
  .features-icons-list {
    justify-content: space-between;
    & li {
      padding: .5rem 1rem;
    }
  }
}

@media (max-width: $mobile-l-size) {
  .features-list-container {
    & h1 {
      font-size: $title-s;
    }
  }
  .features-icons-list {
    & li {
      border: none;
      align-self: flex-start;
    }
  }
}

@media (max-width: $mobile-m-size) {
  .features-list {
    & li {
      flex: 0 0 100%;
    }
  }
}