* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  margin: .8rem 0 0;
  box-sizing: border-box; }

.header-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1.5rem;
  background-color: #7BC67B; }

.header-title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 500; }

.header-navbar-desktop {
  display: flex;
  align-content: center; }
  .header-navbar-desktop ul {
    display: flex;
    list-style: none;
    color: #ffffff; }
    .header-navbar-desktop ul li {
      padding: 1rem;
      font-size: 2rem;
      align-self: center;
      transition: transform .2s; }
      .header-navbar-desktop ul li:hover {
        border-bottom: 1px solid #5E454B;
        padding-bottom: .9rem;
        cursor: pointer; }
        .header-navbar-desktop ul li:hover:active {
          transform: scale(0.9);
          border: none; }

.header-navbar-mobile {
  display: none; }

.header-menu {
  display: none; }

@media (max-width: 768px) {
  .header-container {
    flex-direction: column; }
  .header-title {
    align-self: center;
    font-size: 2.5rem; }
  .header-navbar-desktop {
    justify-content: center; }
    .header-navbar-desktop ul li {
      font-size: 1.8rem; } }

@media (max-width: 460px) {
  .header-container {
    padding: 1rem; }
  .header-title {
    align-self: center;
    font-size: 2.3rem; }
  .header-navbar-desktop {
    justify-content: center; }
    .header-navbar-desktop ul li {
      font-size: 1.6rem;
      margin-top: .4rem; }
      .header-navbar-desktop ul li:hover {
        padding-bottom: .8rem; } }

@media (max-width: 380px) {
  .header-container {
    flex-direction: row;
    padding: .8rem; }
  .header-navbar-desktop {
    display: none; }
  .header-navbar-mobile {
    position: absolute;
    top: 5.2rem;
    right: 0;
    display: flex;
    padding: .8rem;
    align-content: center;
    background-color: #7BC67B;
    border-top: 1px solid #ffffff; }
    .header-navbar-mobile ul {
      display: flex;
      flex-direction: column;
      height: 100vh;
      list-style: none;
      color: #ffffff; }
      .header-navbar-mobile ul li {
        padding: 1rem;
        font-size: 1.5rem;
        align-self: center;
        transition: transform .2s; }
        .header-navbar-mobile ul li:hover {
          border-bottom: 1px solid #5E454B;
          padding-bottom: .9rem;
          cursor: pointer; }
          .header-navbar-mobile ul li:hover:active {
            transform: scale(0.9);
            border: none; }
  .header-menu {
    border: none;
    border-radius: none;
    color: #7BC67B;
    display: flex;
    align-self: center;
    color: #ffffff; } }

.background {
  padding: 2rem;
  height: 84vh;
  background-color: #fff;
  color: #5E454B; }

.footer {
  padding: 3rem;
  background-color: #5E454B;
  color: #fff; }
  .footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none; }
    .footer ul li {
      font-size: 1.4rem;
      transition: all .2s; }
      .footer ul li:hover {
        cursor: pointer;
        color: #7BC67B; }
        .footer ul li:hover:active {
          transform: scale(0.95); }

@media (max-width: 460px) {
  .footer {
    padding: 1.5rem; }
    .footer ul {
      flex-direction: column; }
      .footer ul li {
        align-self: center;
        margin-bottom: .5rem; } }
