@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  margin: .8rem 0 0;
  box-sizing: border-box; }

.header-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1.5rem;
  background-color: #7BC67B;
  margin-bottom: 2rem; }

.header-title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 500; }

.header-navlinks {
  text-decoration: none; }

.header-navbar-desktop {
  display: flex;
  align-content: center; }
  .header-navbar-desktop ul {
    display: flex;
    list-style: none;
    color: #ffffff; }
    .header-navbar-desktop ul li {
      color: #ffffff;
      padding: 1rem;
      font-size: 2rem;
      align-self: center;
      transition: transform .2s; }
      .header-navbar-desktop ul li:hover {
        border-bottom: 1px solid #5E454B;
        padding-bottom: .9rem;
        cursor: pointer; }
        .header-navbar-desktop ul li:hover:active {
          transform: scale(0.9);
          border: none; }

.header-navbar-mobile {
  display: none; }

.header-menu {
  display: none; }

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0; }
  .header-title {
    align-self: center;
    font-size: 2.5rem; }
  .header-navbar-desktop {
    justify-content: center; }
    .header-navbar-desktop ul li {
      font-size: 1.8rem; } }

@media (max-width: 460px) {
  .header-container {
    padding: 1rem; }
  .header-title {
    align-self: center;
    font-size: 2.3rem; }
  .header-navbar-desktop {
    justify-content: center; }
    .header-navbar-desktop ul li {
      font-size: 1.6rem;
      margin-top: .4rem; }
      .header-navbar-desktop ul li:hover {
        padding-bottom: .8rem; } }

@media (max-width: 380px) {
  .header-container {
    flex-direction: row;
    padding: .8rem; }
  .header-navbar-desktop {
    display: none; }
  .header-navbar-mobile {
    position: absolute;
    top: 5.2rem;
    right: 0;
    display: flex;
    padding: .8rem;
    align-content: center;
    background-color: #7BC67B;
    border-top: 1px solid #ffffff;
    box-shadow: -0.5rem 1rem 2rem 0.1rem rgba(0, 0, 0, 0.253);
    z-index: 1000;
    animation-name: moveInRight;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    overflow-x: hidden; }
    .header-navbar-mobile ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      color: #ffffff; }
      .header-navbar-mobile ul li {
        padding: 1rem;
        font-size: 1.5rem;
        align-self: center;
        transition: transform .2s;
        color: #ffffff; }
        .header-navbar-mobile ul li:hover {
          border-bottom: 1px solid #5E454B;
          padding-bottom: .9rem;
          cursor: pointer; }
          .header-navbar-mobile ul li:hover:active {
            transform: scale(0.9);
            border: none; }
  .header-menu {
    border: none;
    border-radius: none;
    color: #7BC67B;
    display: flex;
    align-self: center;
    color: #ffffff; } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateY(-50px); }
  79% {
    opacity: 0; }
  90% {
    opacity: .5; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.background {
  padding: 1rem 2rem;
  background-color: #fff;
  color: #5E454B; }

@media (max-width: 460px) {
  .background {
    padding: 1rem; } }

.footer {
  padding: 3rem;
  background-color: #5E454B;
  color: #fff; }
  .footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none; }
    .footer ul li {
      font-size: 1.4rem;
      transition: all .2s; }
      .footer ul li:hover {
        cursor: pointer;
        color: #7BC67B; }
        .footer ul li:hover:active {
          transform: scale(0.95); }

@media (max-width: 460px) {
  .footer {
    padding: 1.5rem; }
    .footer ul {
      flex-direction: column; }
      .footer ul li {
        align-self: center;
        margin-bottom: .5rem; } }

.features-list-container h1 {
  font-size: 3rem;
  font-weight: 500;
  border-bottom: 2px solid #7BC67B;
  padding-bottom: .5rem; }

.features-list {
  list-style: none;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem; }
  .features-list li {
    flex: 0 0 50%;
    padding: .5rem;
    font-size: 1.8rem; }

.features-icons-container {
  margin-top: 2rem; }

.features-icons-list {
  list-style: none;
  display: flex;
  margin-top: 1rem;
  justify-content: space-around;
  align-content: center;
  text-align: center; }
  .features-icons-list li {
    padding: 1rem 1.5rem;
    border: 2px solid #7BC67B;
    align-self: center;
    border-radius: 1rem; }

@media (max-width: 515px) {
  .features-list-container h1 {
    font-size: 2.5rem; }
  .features-icons-list {
    justify-content: space-between; }
    .features-icons-list li {
      padding: .5rem 1rem; } }

@media (max-width: 460px) {
  .features-list-container h1 {
    font-size: 2.3rem; }
  .features-icons-list li {
    border: none;
    align-self: flex-start; } }

@media (max-width: 380px) {
  .features-list li {
    flex: 0 0 100%; } }

.location-container {
  text-align: center; }
  .location-container h2 {
    padding-bottom: .5rem;
    border-bottom: 2px solid #7BC67B;
    font-weight: 500; }
  .location-container h3 {
    padding-top: .5rem;
    font-size: 1.7rem;
    font-weight: 400; }
  .location-container img {
    width: 80%;
    margin-top: 1.5rem; }
    .location-container img:hover {
      cursor: pointer; }

.schedule-container h2 {
  font-weight: 500;
  padding-bottom: .5rem;
  border-bottom: 2px solid #7BC67B; }

.schedule-container p {
  padding: .5rem 0;
  font-size: 1.7rem; }

.rules-container {
  margin-top: 1.5rem;
  max-width: 600px; }
  .rules-container h2 {
    font-weight: 500;
    padding-bottom: .5rem;
    border-bottom: 2px solid #7BC67B; }
  .rules-container ul {
    list-style: none;
    padding: 1rem .5rem 0;
    font-size: 1.8rem;
    line-height: 2.3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .rules-container ul li {
      padding-top: 1rem; }

@media (max-width: 460px) {
  .schedule-container h2 {
    font-size: 2.3rem; }
  .rules-container h2 {
    font-size: 2.3rem; } }

.gallery-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 0 auto;
  overflow-x: hidden; }

.photos-container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: .6rem;
  object-fit: cover; }

.main-photo-container {
  width: 100%;
  height: 100%; }

.main-photo {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  object-fit: cover; }

.photo {
  width: 100%;
  align-self: center;
  transition: all .2s; }
  .photo:hover, .photo:active {
    filter: brightness(0.8); }

.photo-selected {
  width: 100%;
  align-self: center;
  transition: all .2s;
  filter: brightness(0.8); }
  .photo-selected:hover, .photo-selected:active {
    filter: brightness(0.8); }

@media (max-width: 768px) {
  .gallery-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-width: 700px;
    gap: 1.5rem;
    display: none; }
  .main-photo {
    margin: 0 auto; }
  .photo {
    width: 100%; }
  .photos-container {
    grid-template-columns: 16fr;
    grid-template-rows: 1fr;
    display: none; }
  .photo-selected {
    width: 100%; } }

.info-container {
  justify-content: space-around;
  align-content: center;
  display: flex;
  flex-wrap: wrap; }

.carousel {
  display: none; }

@media (max-width: 768px) {
  .carousel {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%; }
  .carousel-inner {
    object-fit: cover;
    display: flex;
    justify-content: center; }
    .carousel-inner img {
      width: 86%;
      height: 70vw;
      border-radius: 2rem; }
  .carousel-inner .left,
  .carousel-inner .right {
    flex: 7%;
    display: flex;
    justify-content: center;
    align-content: center; }
  .arrow {
    align-self: center;
    color: #7BC67B;
    font-size: 40px; }
    .arrow:hover {
      cursor: pointer; } }

@media (max-width: 515px) {
  .arrow {
    font-size: 30px; } }

@media (max-width: 380px) {
  .arrow {
    font-size: 20px; } }

.cottage-page-container {
  display: grid;
  gap: 4rem;
  justify-items: center; }

.page-title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  margin: 0 auto;
  padding: 0 2rem  .5rem;
  width: fit-content;
  border-bottom: 2px solid #5E454B; }

@media (max-width: 768px) {
  .page-title {
    margin-top: 2rem; } }

@media (max-width: 515px) {
  .page-title {
    font-size: 3rem; } }

@media (max-width: 460px) {
  .page-title {
    font-size: 2.5rem; } }

.card {
  border: 1px solid #7BC67B;
  padding: 2rem 3rem;
  border-radius: 1.5rem;
  margin: 1.5rem 0; }

.card-transparent {
  padding: 2rem 3rem;
  margin: 1.5rem 0; }

.card-component {
  border: 1px solid #7BC67B;
  padding: 1rem;
  text-align: center;
  margin: 2rem; }

@media (max-width: 1440px) {
  .card {
    padding: 1.5rem 2.5rem .7rem; }
  .card-transparent {
    padding: 1.5rem 2rem 0; } }

@media (max-width: 515px) {
  .card {
    padding: 1rem 1.5rem .7rem; } }

@media (max-width: 460px) {
  .card-transparent {
    padding: .5rem 1rem 0; } }

@media (max-width: 515px) {
  .card-component {
    margin: 1rem;
    padding: 1rem; } }

.btn {
  border: none;
  margin-bottom: 3rem;
  width: fit-content;
  display: inline-block;
  padding: 1.7rem 5.9rem;
  font-size: 2rem;
  letter-spacing: .3rem;
  border-radius: 4rem;
  background-color: #7BC67B;
  color: #ffffff;
  text-transform: uppercase;
  transition: all .2s;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:active {
    transform: translateY(2px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

@media (max-width: 460px) {
  .btn {
    font-size: 1.8rem;
    padding: 1.2rem 5.4rem; } }

.mazamitla-page {
  display: grid;
  justify-items: center;
  gap: 2rem;
  align-items: center; }

.mazamitla__description-section {
  padding: 0 20rem; }

.mazamitla__description-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(123, 198, 123, 0.7) 50%), url(../../../src/Assets/Images/Mazamitla-Pueblo-Mágico.jpg);
  background-repeat: no-repeat;
  min-height: 50rem; }

.mazamitla__description-title {
  background-color: #7BC67B;
  font-size: 3rem;
  padding: 3rem;
  color: #ffffff;
  font-weight: 300;
  width: fit-content;
  justify-self: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }

.mazamitla__description-text {
  color: #ffffff;
  padding: 4rem;
  font-size: 1.8rem; }

@media (max-width: 1440px) {
  .mazamitla__description-section {
    padding: 0 10rem; } }

@media (max-width: 1030px) {
  .mazamitla__description-section {
    padding: 0 3rem; } }

@media (max-width: 872px) {
  .mazamitla__description-section {
    padding: 0; } }

@media (max-width: 768px) {
  .mazamitla__description-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: linear-gradient(185deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 45%, rgba(123, 198, 123, 0.8) 45%), url(../../../src/Assets/Images/Mazamitla-Pueblo-Mágico.jpg); }
  .mazamitla__description-text {
    align-self: center; } }

@media (max-width: 460px) {
  .mazamitla__description-text {
    padding: 2rem; } }

@media (max-width: 380px) {
  .mazamitla__description-container {
    grid-template-rows: 1fr 1fr 1fr;
    background-image: linear-gradient(185deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 33%, rgba(123, 198, 123, 0.8) 33%), url(../../../src/Assets/Images/Mazamitla-Pueblo-Mágico.jpg); }
  .mazamitla__description-title {
    align-self: center;
    padding: 2rem;
    font-size: 2.5rem; }
  .mazamitla__description-text {
    grid-row-start: 2;
    grid-row-end: 4; } }

.activities__section {
  display: flex;
  flex-direction: column; }
  .activities__section h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: .5rem;
    margin: 2rem auto;
    text-transform: uppercase; }

.activities__card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.activities__container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .activities__container h2 {
    font-weight: 300; }

.activities__photo {
  max-width: 400px;
  max-height: 300px;
  margin: 2rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }

@media (max-width: 515px) {
  .activities__photo {
    max-width: 250px; } }

@media (max-width: 515px) {
  .activities__section h1 {
    font-size: 2.5rem; } }

@media (max-width: 460px) {
  .activities__section h1 {
    font-size: 2.3rem; } }
