@import '../../Abstracts/variables';
.mazamitla-resume__container {
  background-color: $color-text-white;
  padding: 2rem 2rem 1rem;
  text-align: center;
  align-self: center;
  box-shadow: 0 1.3rem 3.3rem rgba(0,0,0, .5);
  margin: 2rem;
}
.mazamitla-resume__img {
  max-width: 400px;
  margin-bottom: 2rem;
}
@media (max-width: $tablet-size) {
  .mazamitla-resume__img{
    max-width: 300px;
  } 
}
@media (max-width:$mobile-l-size) {
  .mazamitla-resume__container {
    padding: 0;
    background-color: transparent;
    margin: 1.5rem 0;
    box-shadow: none;
  }
};