@import '../../Abstracts/variables';
.activities__section {
  display: flex;
  flex-direction: column;
  & h1 {
    text-align: center;
    font-size: $title-l;
    font-weight: 500;
    letter-spacing: .5rem;
    margin: 2rem auto;
    text-transform: uppercase;
  }
}
.activities__card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.activities__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  & h2 {
    font-weight: 300;
  }
}
.activities__photo{
  max-width: 400px;
  max-height: 300px;
  margin: 2rem;
  box-shadow: 0 1rem 3rem rgba(0,0,0, .2);
}

@media (max-width:$tablet-s-size) {
  .activities__photo{
    max-width: 250px;
  }
}
@media(max-width:$tablet-s-size) {
  .activities__section {
    & h1 {
      font-size: $title-m;
    }
  }
}
@media (max-width:$mobile-l-size) {
  .activities__section {
    & h1 {
      font-size: $title-s;
    }
  }
}