@import '../Abstracts/variables';

.footer {
  padding: 3rem;
  background-color: #5E454B;
  color: #fff;
  text-align: center;

  & ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    line-height: 2rem;

    & li {
      font-size: 1.4rem;
      transition: all .2s;
    }
  }
}
.footer-navlink {
  text-decoration: none;
  color: $color-text-white;
  & button {
  background-color: transparent;
  color: $color-text-white;
  border: 1px solid $color-primary;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: .5rem;
  letter-spacing: .5rem;
  transition: all .2s;
  &:hover {
    cursor: pointer;
    color: $color-primary;
    border:1px solid $color-text-white;
    }
  &:active{
    transform: scale(.95);
    }
  }
};